/* Sam Paugel 2021 */
@font-face {
    font-family: 'Helvetica';
    src:  url('Helvetica.woff2'), format('woff2');
}
/* Form Styles */
form {
    font-family: 'Helvetica';
    background-color: #738580;
    padding: 1em;
    border-radius: 20px;
    margin: 40px;
    box-shadow: 2px 2px 2px;
    width: 50%;
}
.form-row {
    display: flex;
    justify-content: center;
}
.form-row > label {
    flex: 0.2;
}
.form-row > input {
    flex: 0.2;
    padding: .5em 1em .5em 0;
}
li {
    list-style-type: none;
}
.submit {
    display: block;
    text-align: center;
}
#submitButton {
    display: inline-block;
    padding: 0.5em;
    border-radius: 6px;
    background-color: #970C10;
    border-style: none;
    color: #fff;
}
#resetButton {
    display: inline-block;
    padding: 0.5em;
    border-radius: 6px;
    background-color: #970C10;
    border-style: none;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
