@media only screen and (min-width: 812px) {
    img {
        width: 100%;
        max-width: 20em;
    }
    .mainContentPics {
        max-width: 20em;
        padding: .2em;
        flex-wrap: wrap;
    }
    #mash {
        max-width: 20em;
        padding-right: .9em;
        padding-left: .9em;
        padding-bottom: .9em;
    }
}
