/* Sam Paugel 2021 */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 10px;
}
.socialMedia {
    padding: 0.5em;
}
hr {
    background-color: black;
    border: none;
    height: 2px;
}
i {
    display: block;
    padding-top: 1em;
}
body, input, textarea, select, button {
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: #BFCAD0;
}
h1, h2, h3 {
    font-family: "Helvetica";
}
header h1 {
    padding: .2em;
    border-radius: 3px 0px 0px 3px;
    background-color: #970C10;
    color: #ffffff;
}
/* Tab through Accessability */
ul li:hover ul, ul li ul:hover, ul li:focus-within ul {
    display: block;
}
/* Main Content Link */
.skipLink {
    position: absolute;
    left: -1000px;
}
.skipLink:focus, .skipLink:active {
    left: 0;
}

/* nav styles */
p,nav {
    font-family: "Helvetica";
    font-size: .9em;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0.5em;
    margin: 0 auto;
}
nav li {
    display: inline-block;
    padding: 0.5em;
}
/* Link Styles */
a:link {
    text-decoration: none;
    color: #970C10; /* #ff0000 */
}
a:hover {
    color: #000000;
}
/* Nav link Styles */
nav a:link {
    text-decoration: none;
    color: #000000;
}
nav a:visited {
    color: darkred;
}
nav a:hover {
    color: #000000;
}
nav a:active {
    color: #970C10;
}
nav a::before {
    content: "";
    display: block;
    height:  3px;
    width: 0%;
    background-color: #444444;
    position: relative;
    top: 1.5em;
    transition: all ease-in-out 269ms;
}
nav a:hover::before {
    width: 100%;
}
#storeheader {
    font-size: 1.9em;
}
section {
    text-align: center;
}
/* link styles */
a {
    color: blue;
}
footer {
    background-color: #738580;
    padding: 20px;
}
body {
    margin: 0;
    padding: 0;
    font-family: serif;
}
.text {
    position: relative;
    margin-top: 100px;
    text-align: center;
}
.text:hover {
    animation: effect linear 1s;
}
@keyframes effect {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.3, 0.6);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    100% {
        transform: scale(1, 1);
       }
}
