/* Sam Paugel 2022 */
/* #container {
    display: flex;
    flex-direction: column;
} */
/*********** Main Content ************/
body, input, textarea, select, button {
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #BFCAD0;
  font-size: 1.6rem;
  line-height: 1.5;
  display: block;
  min-width: 320px;
  font-family: serif;
  font-family: "Open Sans",sans-serif;
  padding-left: 13rem;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}
h1, h2, h3 {
  font-family: "Helvetica";
}
/* header h1 {
  padding: .2em;
  border-radius: 3px 0px 0px 3px;
  background-color: #970C10;
  color: #ffffff;
} */
.text-area {
  width: 40%;
}
hr {
  background-color: black;
  border: none;
  height: 2px;
}
i {
  display: block;
  padding-top: 1em;
}
/* Tab through Accessability */
ul li:hover ul, ul li ul:hover, ul li:focus-within ul {
  display: block;
}
/******************************/

/* Main Content Link */
.skipLink {
  position: absolute;
  left: -1000px;
}
.skipLink:focus, .skipLink:active {
  left: 0;
}

/* Link Styles */
a:link {
  text-decoration: none;
  /* color: #970C10; #ff0000 */
}
a:hover {
  color: #000000;
}
/* Nav link Styles */
/* nav a:link {
  text-decoration: none;
  color: #fff;
}
nav a:visited {
  color: white;
}
/* nav a:visited {
  color: darkred;
} */
/* nav a:active {
  color: #a71c1b; 970C10
}  */
nav a:hover {
  color: #a71c1b;
  transition: color 0.3s;
  transition-property: color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.text {
  display: flex;
}
.text:hover {
  animation: effect linear 1s;
}
@keyframes effect {
  0% {
      transform: scale(1, 1);
  }
  25% {
      transform: scale(1.5, 0.6);
  }
  50% {
      transform: scale(1.9, 0.9);
  }
  100% {
      transform: scale(1, 1);
     }
}




/* Sam Paugel 2021
#container {
  display: flex;
  flex-direction: column;
}
.socialMedia {
  padding: 0.5em;
}
main {
  margin: 0 auto;
}
hr {
  background-color: black;
  border: none;
  height: 2px;
}
i {
  display: block;
  padding-top: 1em;
}
body,
input,
textarea,
select,
button {
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #bfcad0;
}
h1,h2,h3 {
  font-family: "Helvetica";
}
header h1 {
  padding: 0.2em;
  border-radius: 3px 0px 0px 3px;
  background-color: #970c10;
  color: #ffffff;
}
/* Tab through Accessability */
/*ul li:hover ul,ul li ul:hover,ul li:focus-within ul {
  display: block;
}
img {
  width: 7rem;
  height: auto;
}
span {
  color: #fff;
  margin: 0 auto;
  padding: 1rem;
}
.main-menu-top {
  background: #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0;
}
menu {
  width: 13rem;
  /*background-color: #181818;*/
  /*
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
*/
/* Main Content Link */
/* .skipLink {
  position: absolute;
  left: -1000px;
}
.skipLink:focus,
.skipLink:active {
  left: 0;
} */
/* nav styles */
/* p,nav {
  font-family: "Helvetica";
  font-size: 0.9em;
} */
/* nav ul {
  display: flex;
  list-style: none;
  padding: 0.5em;
  margin: 0 auto;
} */
/* nav li {
  display: inline-block;
  padding: 0.5em;
} */
/* Link Styles */
/* a:link {
  text-decoration: none;
  color: #970c10; /* #ff0000 
} */
/* a:hover {
  color: #000000;
} */
/* Nav link Styles */
/* nav a:link {
  text-decoration: none;
  color: #fff;
} */
/* nav a:visited {
  color: white;
} */
/* nav a:visited {
    color: darkred;
} */
/* nav a:active {
  color: #a71c1b; /*970C10
} */
/* nav a:hover { */
  /* content: "";
    display: block;
    height:  3px;
    width: 0%;
    background-color: #444444;
    position: relative;
    top: 1.5em; */
  /* #fb040c */
  /* color: #a71c1b;
  transition: color 0.3s;
  transition-property: color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
} */
/* nav a:hover::before {
    width: 100%;
} */
/* section {
  text-align: center;
} */
/* link styles */
/* a {
    color: blue;
} */
/* footer {
  background-color: #738580;
  padding: 20px;
} */
/* body {
  margin: 0;
  padding: 0;
  font-family: serif;
} */
/* .text {
  display: flex;
}
.text:hover {
  animation: effect linear 1s;
} */
/* @keyframes effect {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.5, 0.6);
  }
  50% {
    transform: scale(1.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
} */
/* rubberband letter effect */
/* div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
} */
/* .at-item {
  width: 100px;
  height: 100px;
  background-color: #ffe672;
  animation-name: rubberband-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
    animation: rubberband-horizontal 1s ease 0s 1 normal none;

} */
/* @keyframes rubberband-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}  */
