.hamburger {
	display: flex;
	justify-content: end;
}
@media screen and (min-width: 768px) {
	.hamburger {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.main-menu {
		transition: visibility 0s 0s, z-index 0s 0s;
		z-index: 99;
		opacity: 1;
	}
}
