/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* Sam Paugel 2022© */

.main-menu {
  width: 13rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.main-menu__top {
  background: #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.main-menu__top span {
  font-family: "Open Sans";
  color: #a5a5a5;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1rem;
}
.main-menu_nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #282828;
}
.main-menu_nav a {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  color: #909096;
  line-height: 5rem;
  border-bottom: 1px solid #282828;
  transition: color 0.3s, background-color 0.3s;
}
.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logoText {
  font-family: sans-serif;
  color: #fff;
  margin-top: 1px;
  font-size: 1.7rem;
}
html {
  font-size: 62.5%;
  min-width: 320px;
}
span {
  font-family: sans-serif;
}
#menu-icon {
  width: 3rem;
}
#paugel-logo {
  width: 7rem;
  height: auto;
}
a {
  color: #a60000;
  background-color: transparent;
  transition: color 0.3s;
  text-decoration: none;
}

/* Social media links */
.social {
  color: #909096;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
}
.social svg path {
  transition: fill 0.3s;
  fill: #909096;
}
.social svg {
  width: 1.5rem;
}
.socialLinks {
  font-size: 5rem;
}
.social li a {
  padding: 2rem 7px;
}
/* .social svg path:hover {
    color: #fff;
    -webkit-transition: fill 0.3s;
    -o-transition: fill 0.3s;
    transition: fill 0.3s;
} */

@media screen and (max-width: 768px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .main-menu-nav:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }
  .main-menu_nav {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 4rem;
    height: 4rem;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  .main-menu {
    align-items: center;
    position: fixed;
    z-index: -5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    /* opacity: 0; */
    transition: opacity 0s 0.4s, z-index 0s 0.7s;
  }
}
@media screen and (max-width: 768px) {
  .main-menu .main-menu__top {
    padding-top: 6rem;
  }
}
