/* @media only screen and (min-width: 679px) {
    #eltonJohn {
        width: 100%;
        max-width: 20.7em;
    }
} */
/* @font-face {
    font-family: "magazine";
    src:  url(magazine.woff2"), format("woff2");
    font-family: "Helvetica";
    src:  url("Helvetica.woff2"), format("woff2");
} */

/* .width {
    padding: 41px;
} */
